<div>
  <app-course-table-nav-bar></app-course-table-nav-bar>

  <div class="container-fluid" style="margin-top:10vh;
  background: #e6e6e6;overflow-y: scroll;height: 90vh">

    <app-course-grid-header></app-course-grid-header>
       <div class="row mr-2">
        <app-course-card class="p-0 col-sm-12 col-md-4 col-lg-2 h-100"></app-course-card>
        <app-course-card class="p-0 col-sm-12 col-md-4 col-lg-2 h-100"></app-course-card>
        <app-course-card class="p-0 col-sm-12 col-md-4 col-lg-2 h-100"></app-course-card>
        <app-course-card class="p-0 col-sm-12 col-md-4 col-lg-2 h-100"></app-course-card>
        <app-course-card class="p-0 col-sm-12 col-md-4 col-lg-2 h-100"></app-course-card>
        <app-course-card class="p-0 col-sm-12 col-md-4 col-lg-2 h-100"></app-course-card>
        <app-course-card class="p-0 col-sm-12 col-md-4 col-lg-2 h-100"></app-course-card>
        <app-course-card class="p-0 col-sm-12 col-md-4 col-lg-2 h-100"></app-course-card>
        <app-course-card class="p-0 col-sm-12 col-md-4 col-lg-2 h-100"></app-course-card>
        <app-course-card class="p-0 col-sm-12 col-md-4 col-lg-2 h-100"></app-course-card>
      </div>
    </div>
</div>
