<div class="row">
  <div class="col-5 font-weight-bold">Recent Documents</div>
  <div class="col-3">
    <div class="dropdown show">
      <a class="no-decorate dropdown-toggle" routerLink="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="font-weight-bold">Owned By</span>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" routerLink="#">Ram</a>
        <a class="dropdown-item" routerLink="#">Tom</a>
        <a class="dropdown-item" routerLink="#">Bill</a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <a class="mr-4 float-right no-decorate" routerLink="#">
    <i class="fas fa-folder"></i>
    </a>
    <a class="mr-2 float-right no-decorate" routerLink="#">
    <i class="fas fa-sort pr-3"></i>
    </a>
  </div>
</div>
