<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top" style="background:#4e4747;
        height: 10vh">
  <div class="container-fluid">
    <div class="row w-100">
      <div class="col-3">
        <span class="p-0 m-0 navbar-brand text-white text-bold">
            {{courseTitle}}
        </span>
      </div>
      <div class="col-9">
        <nav class="navLessons">
          <div class="nav nav-tabs border-bottom-0 hover-black" id="nav-module1-lesson1-tab"
               role="tablist"
               >
            <span class = "nav-item nav-link text-black" *ngFor="let lesson of lessons">
              <span
                class="p-0 d-inline text-truncate"
                style="backgroundColor:transparent;border: 0;
                 color: white;width: 50px;height: 3vh">
              {{lesson.title}}
              </span>
            </span>
          </div>
        </nav>
      </div>
    </div>
  </div>
</nav>
