.nav-link {
  background: #655858;
  color: white !important;
}

.nav-pills .nav-link.active {
  background: #4a4d50;
  color: white;
}

a.no-decorate{
  text-decoration:none;
}

a:hover {
  cursor:pointer;
}
